*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
body {
  background-color: rgb(96, 100, 144);
}

.container {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: rgb(82, 137, 139);
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.twitter, .dribbble, .tumblr, .youtube, .instagram, .linkeln, .facebook:hover .facebook__logo, .facebook {
  width: 80px;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: all 0.7s;
  background-color: cadetblue;
  border-right: solid 1px rgba(0, 0, 0, 0.412);
}
.twitter__logo, .dribbble__logo, .tumblr__logo, .youtube__logo, .instagram__logo, .linkeln__logo, .facebook__logo {
  width: 80px;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  transition: all 0.7s;
  background-image: url(img/twitter.svg);
}
.twitter__logo1, .dribbble__logo1, .tumblr__logo1, .youtube__logo1, .instagram__logo1, .linkeln__logo1, .facebook__logo1 {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 80px;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: all 0.7s;
  background-image: url(img/twitter.svg);
  background-color: rgb(21, 153, 247);
}
.twitter__info, .dribbble__info, .tumblr__info, .youtube__info, .instagram__info, .linkeln__info, .facebook__info {
  position: absolute;
  top: 0;
  left: 80px;
  width: 350px;
  height: 100%;
  background-color: rgb(252, 252, 252);
}
.twitter h1, .dribbble h1, .tumblr h1, .youtube h1, .instagram h1, .linkeln h1, .facebook:hover .facebook__logo h1, .facebook h1 {
  margin-top: 40px;
  margin-left: 10px;
  font-size: 30px;
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.twitter p, .dribbble p, .tumblr p, .youtube p, .instagram p, .linkeln p, .facebook:hover .facebook__logo p, .facebook p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: lighter;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.twitter:hover .twitter__logo, .twitter:hover .dribbble__logo, .dribbble:hover .twitter__logo, .dribbble:hover .dribbble__logo, .twitter:hover .tumblr__logo, .dribbble:hover .tumblr__logo, .tumblr:hover .twitter__logo, .tumblr:hover .dribbble__logo, .tumblr:hover .tumblr__logo, .twitter:hover .youtube__logo, .dribbble:hover .youtube__logo, .tumblr:hover .youtube__logo, .youtube:hover .twitter__logo, .youtube:hover .dribbble__logo, .youtube:hover .tumblr__logo, .youtube:hover .youtube__logo, .twitter:hover .instagram__logo, .dribbble:hover .instagram__logo, .tumblr:hover .instagram__logo, .youtube:hover .instagram__logo, .instagram:hover .twitter__logo, .instagram:hover .dribbble__logo, .instagram:hover .tumblr__logo, .instagram:hover .youtube__logo, .instagram:hover .instagram__logo, .twitter:hover .linkeln__logo, .dribbble:hover .linkeln__logo, .tumblr:hover .linkeln__logo, .youtube:hover .linkeln__logo, .instagram:hover .linkeln__logo, .linkeln:hover .twitter__logo, .linkeln:hover .dribbble__logo, .linkeln:hover .tumblr__logo, .linkeln:hover .youtube__logo, .linkeln:hover .instagram__logo, .linkeln:hover .linkeln__logo, .twitter:hover .facebook__logo, .dribbble:hover .facebook__logo, .tumblr:hover .facebook__logo, .youtube:hover .facebook__logo, .instagram:hover .facebook__logo, .linkeln:hover .facebook__logo, .facebook:hover .twitter__logo, .facebook:hover .dribbble__logo, .facebook:hover .tumblr__logo, .facebook:hover .youtube__logo, .facebook:hover .instagram__logo, .facebook:hover .linkeln__logo, .facebook:hover .facebook__logo {
  width: 0px;
}
.twitter:hover .twitter__logo1, .twitter:hover .dribbble__logo1, .dribbble:hover .twitter__logo1, .dribbble:hover .dribbble__logo1, .twitter:hover .tumblr__logo1, .dribbble:hover .tumblr__logo1, .tumblr:hover .twitter__logo1, .tumblr:hover .dribbble__logo1, .tumblr:hover .tumblr__logo1, .twitter:hover .youtube__logo1, .dribbble:hover .youtube__logo1, .tumblr:hover .youtube__logo1, .youtube:hover .twitter__logo1, .youtube:hover .dribbble__logo1, .youtube:hover .tumblr__logo1, .youtube:hover .youtube__logo1, .twitter:hover .instagram__logo1, .dribbble:hover .instagram__logo1, .tumblr:hover .instagram__logo1, .youtube:hover .instagram__logo1, .instagram:hover .twitter__logo1, .instagram:hover .dribbble__logo1, .instagram:hover .tumblr__logo1, .instagram:hover .youtube__logo1, .instagram:hover .instagram__logo1, .twitter:hover .linkeln__logo1, .dribbble:hover .linkeln__logo1, .tumblr:hover .linkeln__logo1, .youtube:hover .linkeln__logo1, .instagram:hover .linkeln__logo1, .linkeln:hover .twitter__logo1, .linkeln:hover .dribbble__logo1, .linkeln:hover .tumblr__logo1, .linkeln:hover .youtube__logo1, .linkeln:hover .instagram__logo1, .linkeln:hover .linkeln__logo1, .twitter:hover .facebook__logo1, .dribbble:hover .facebook__logo1, .tumblr:hover .facebook__logo1, .youtube:hover .facebook__logo1, .instagram:hover .facebook__logo1, .linkeln:hover .facebook__logo1, .facebook:hover .twitter__logo1, .facebook:hover .dribbble__logo1, .facebook:hover .tumblr__logo1, .facebook:hover .youtube__logo1, .facebook:hover .instagram__logo1, .facebook:hover .linkeln__logo1, .facebook:hover .facebook__logo1 {
  width: 80px;
  left: 0;
}
.twitter:hover, .dribbble:hover, .tumblr:hover, .youtube:hover, .instagram:hover, .linkeln:hover, .facebook:hover .facebook__logo:hover, .facebook:hover {
  width: 430px;
  border-right: solid 0px rgba(0, 0, 0, 0);
}

.facebook__logo {
  background-image: url(img/facebook.svg);
}
.facebook__logo1 {
  background-image: url(img/facebook.svg);
  background-color: rgb(6, 64, 135);
}


.linkeln__logo {
  background-image: url(img/linkedin.svg);
}
.linkeln__logo1 {
  background-image: url(img/linkedin.svg);
  background-color: rgb(59, 80, 90);
}


.instagram__logo {
  background-image: url(img/instagram.svg);
}
.instagram__logo1 {
  background-image: url(img/instagram.svg);
  background-color: rgba(195, 102, 49, 0.901);
}

.youtube__logo {
  background-image: url(img/youtube.svg);
}
.youtube__logo1 {
  background-image: url(img/youtube.svg);
  background-color: rgba(177, 0, 0, 0.901);
}


.tumblr__logo {
  background-image: url(img/tumblr.svg);
}
.tumblr__logo1 {
  background-image: url(img/tumblr.svg);
  background-color: rgba(7, 50, 116, 0.901);
}


.dribbble__logo {
  background-image: url(img/dribbble.svg);
}
.dribbble__logo1 {
  background-image: url(img/dribbble.svg);
  background-color: rgba(209, 47, 98, 0.901);
}

